Flask
Flask-CORS
Flask-SQLAlchemy
SQLAlchemy
python-dotenv
gunicorn
werkzeug
tensorflow
keras
scikit-learn
joblib
numpy
pandas
groq
sentence-transformers
faiss-cpu
Pillow
opencv-python-headless
matplotlib
seaborn
plotly
torch
